#AdminSignup{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    background:linear-gradient(360deg,red,blue);
}

#AdminSignup a{
    color: black;
    margin-right: 300px;
    text-decoration: underline;
}

#AdminSignup form{
    height: 270px;
    width: 250px;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 25px 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(255, 1, 187);
}

#AdminSignup input{
    height: 25px;
    width: 190px;
    outline: none;
    font-size: 20px;
    border: none;
    margin-left: 30px;
    margin-bottom: 20px;
}   

#AdminSignup input::placeholder{
    color: rgb(51, 51, 148);
    font-family: cursive;
}

#AdminSignup button{
    padding: 5px 10px;
    margin-top: 35px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    font-family: cursive;
    color: white;
    background: linear-gradient(120deg, pink, yellow, green);
}

#AdminSignup button:active{
    background: linear-gradient(120deg, pink, yellow, green);
}

